.cards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 17px;
  row-gap: 21px;
  width: 880px;
  height: 100%;
  margin-top: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 282px;
  height: 361px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.card__delete {
  max-width: 18px;
  max-height: 19.3px;
  position: absolute;
  cursor: pointer;
  top: 18px;
  right: 15px;
}

.card__delete:hover {
  opacity: 60%;
}

.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 246px;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.2;
  margin-top: 25px;
  position: relative;
}

.card__description-checkbox {
  display: none;
}

.card__description-text {
  display: block;
  align-items: center;
  max-width: 210px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__description-checkbox-icon {
  width: 21px;
  height: 19px;
  background: url("../images/likebutton.png") no-repeat center;
  background-size: contain;
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 5px;
}

.card__description-checkbox-icon:hover {
  opacity: 50%;
}

.card__description-checkbox:checked
  + .card__description-text
  .card__description-checkbox-icon {
  background-image: url("../images/likebuttonactive.png");
}

@media screen and (max-width: 1024px) {
  .cards {
    max-width: 528px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 544px) {
  .cards {
    max-width: 282px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin-top: 166px;
  }
}
